{% load staticfiles %}

<head>
	<title>{% block title %} NeoAppBot {% endblock %}</title>
	{% block css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css" />
	{% endblock %}
	</head>
	<body>
		{% block content %}
		<div class="container">
			<div class="row">
				<div class="col-md-4 inputTableDetails">
					<form>
						<div class="form-group">
						  <label for="model_data">Chat Design:</label>
						  <textarea class="form-control" rows="5" id="model_data"></textarea>
						</div>
					</form>
					</div>
				<div class="col-md-8 vanilaList">
				<!--Vanilla View-->
				<h1 style="margin: 30px">Django Vanilla Views</h1>
				       <div style="margin: 30px">
				           {% if tableinfo_list %}
				           <table class="table table-striped">
				               <tr><th>id</th><th>Name</th><th>Actions</th><th></th></tr>
				            
				               {% for table in tableinfo_list %}
				                   <tr>
				                       <td>{{ table.id }}</td>
				                       <td>{{ table.table_name }}</td>
				                       <td><button class='btn btn-success'>Add</button>
				                       <td><button class='btn btn-primary'>Edit</button>
				                       <td><button class='btn btn-danger'>Delete</button>
				                       </td>
				                   </tr>
				               {% endfor %}
				           </table>
				           {% endif %}

				       </div>
				<!--Ends Here-->
				</div>		
			</div>
		</div>
		{% endblock %}
	</body>
	{% block js %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"  ></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"  ></script>
	<script type="text/javascript" src="{% static '/js/custom.js' %}"></script>
	{% endblock %}
